
:root {
  --background: #ffff;
  --foreground: #171717;
  --navbar-height: 6rem;
  --sidebar-width: 16rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  min-height: 100vh;
  padding-top: var(--navbar-height);
}

.content {
  flex: 1;
  margin-left: var(--sidebar-width);
  padding: 2rem;
  overflow-y: auto;
  box-sizing: border-box;
  width: calc(100% - var(--sidebar-width));
  min-height: calc(100vh - var(--navbar-height));
}

.main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
}


