
:root {
  --background: #0A0D40;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout-container {
  display: flex;
  min-height: calc(100vh - 4rem); /* Ajusta esto según la altura de tu Navbar */
}

.main-content {
  flex-grow: 1;
}


